* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.718)
}

/*** FONTS ***/
:root {
    --font-sans: "Inter", ui-sans-serif, system-ui, -apple-system, "Segoe UI",
        Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

body {
    font-family: var(--font-sans);
}

h1,
h2 {
    font-weight: 600;
    letter-spacing: -0.02em;
}

p {
    font-weight: 400;
    line-height: 1.6;
}


body {
    background: linear-gradient(180deg, #0b0b10, #050508);
    background-attachment: fixed;
    color: #e9eef2;
}

.main-grid {
    position: relative;
    z-index: 1;
}

body::before {
    content: "";
    position: fixed;
    inset: -12%;
    pointer-events: none;
    z-index: 0;
    background:
        radial-gradient(900px 600px at 30% 70%, rgba(176, 172, 172, 0.15), transparent 60%),
        radial-gradient(700px 500px at 50% 40%, rgba(199, 194, 194, 0.15), transparent 60%),
        radial-gradient(600px 450px at 60% 75%, rgba(173, 171, 171, 0.15), transparent 60%);
    filter: blur(50px);
    opacity: 0.9;
    animation: drift 60s ease-in-out infinite alternate;
    will-change: transform;
}

@keyframes drift {
    from {
        transform: translate3d(0, 0, 0) scale(1.00);
    }

    to {
        transform: translate3d(10%, -6%, 0) scale(1.08);
    }
}

body::before {
    animation-duration: 6s;
}

footer {
    height: 500px;
}

.nav {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 1100px;

}

.headline {
    display: none;
    align-self: center;
}

.headline-mobile {
    display: flex;
    align-items: center;
}


.nav-links {
    display: none
}

.hamburger {
    appearance: none;
    -webkit-appearance: none;
    background: transparent;
    border: 0;
    padding: 0;
    margin: 0;

    color: inherit;
    font: inherit;
    line-height: 1;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    width: 44px;
    height: 44px;
    border-radius: 8px;

    -webkit-tap-highlight-color: transparent;
}





/****** OVERLAY ******/

.overlay {
    background-color: black;
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background: rgba(0, 0, 0, 0.95);
    display: grid;
    place-items: center;
}

.hide-overlay {
    display: none;
}

.overlay-nav-links a {
    color: rgba(255, 255, 255, 0.718);
    text-decoration: none;
    margin: 1rem;
}

.overlay-nav-links a:visited {
    color: rgba(255, 255, 255, 0.718);
}

.overlay-nav-links {
    color: rgba(255, 255, 255, 0.718);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.close-overlay {
    position: absolute;
    top: 10rem;
    margin: 2rem;
    font-size: 1.5rem;

    appearance: none;
    -webkit-appearance: none;
    background: transparent;
    border: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.718);
}

.close-overlay:hover {
    cursor: pointer;
}

.close-overlay img {
    width: 30px;
    color: rgba(255, 255, 255, 0.718);
    filter: invert(1);
}







/* PROJECTS */

h1 {
    text-align: center;
    margin: 1rem;
    border-radius: 10px;
    letter-spacing: 2px;
}





/****************** PROJECT CARD STACK ********************/

:root {
	--cards: 4;
	--cardHeight: 575px;
    --cardHeightTablet: 25vh;
	--cardTopPadding: 2rem;
	--cardMargin: 5vw;
}

.projects-container {
	width: 100%;
	margin: 0 auto;
}

#cards {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(var(--cards), var(--cardHeight));
	gap: 1px;
	padding-bottom: calc(var(--cards) * var(--cardTopPadding));
	margin-bottom: var(--cardMargin);
}

#card1 {
	--index: 1;
}

#card2 {
	--index: 2;
}

#card3 {
	--index: 3;
}

#card4 {
	--index: 4;
}

.card {
	position: sticky;
	top: 0;
	padding-top: calc(var(--index) * var(--cardTopPadding));
}

.card-content {
	padding: 2rem;
    border: 1px solid rgba(245, 245, 245, 0.081);
	border-radius: 25px;
	box-shadow: 0 0 30px 0 rgba(0,0,0,0.3);
    width: 90%;
    height: var(--cardHeight);
    margin: auto;
    background-color:#0b0b10
}

.card-content h2, .card-content p, .button-wrapper {
    margin-bottom: 2rem;
}

.button-wrapper {
    display: flex;
    justify-content: start;
}

.button-wrapper > :first-child {
    margin-right: 1rem;
}

.button-wrapper button {
    padding: .75rem 1rem .75rem 1rem;
    border-radius: 25px;
    border: none;
    background: #0b0f14;
    border: 1px solid rgba(245, 245, 245, 0.232);
}

.button-wrapper button:hover {
    cursor: pointer;
    color: black;
    background-color: rgba(245, 245, 245, 0.834)
}

.thumbnail-container {
    display: flex;
    justify-content: center;
}

.thumbnail-container img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(245, 245, 245, 0.058);
}


/**** CARD GRADIENT *****/

#card1 .card-content {
    position: relative;
    overflow: hidden;
}

#card1 .card-content::before {
    content: "";
    position: absolute;
    inset: -1px;
    border-radius: inherit;
    pointer-events: none;

    background: radial-gradient(
        350px 350px at 75% 40%,
        rgba(0, 255, 153, 0.02) 50%,
        rgba(0, 255, 153, 0.02) 75%,
        transparent 110%
    );

    mix-blend-mode: screen;
    z-index: 0;
}

#card1 .card-content > * {
    position: relative;
    z-index: 1;
}




#card2 .card-content {
    position: relative;
    overflow: hidden;
}

#card2 .card-content::before {
    content: "";
    position: absolute;
    inset: -1px;
    border-radius: inherit;
    pointer-events: none;

    background: radial-gradient(
        350px 350px at 75% 40%,
        rgba(0, 55, 255, 0.03) 50%,
        rgba(6, 113, 244, 0.03) 75%,
        transparent 110%
    );

    mix-blend-mode: screen;
    z-index: 0;
}

#card2 .card-content > * {
    position: relative;
    z-index: 1;
}

#card3 .card-content {
    position: relative;
    overflow: hidden;
}

#card3 .card-content::before {
    content: "";
    position: absolute;
    inset: -1px;
    border-radius: inherit;
    pointer-events: none;

    background: radial-gradient(
        350px 350px at 75% 40%,
        rgba(255, 77, 0, 0.03) 50%,
        rgba(244, 81, 6, 0.03) 75%,
        transparent 110%
    );

    mix-blend-mode: screen;
    z-index: 0;
}

#card3 .card-content > * {
    position: relative;
    z-index: 1;
}

#card4 .card-content {
    position: relative;
    overflow: hidden;
}

#card4 .card-content::before {
    content: "";
    position: absolute;
    inset: -1px;
    border-radius: inherit;
    pointer-events: none;

    background: radial-gradient(
        350px 350px at 75% 40%,
        rgba(183, 0, 255, 0.01) 50%,
        rgba(189, 6, 244, 0.02) 75%,
        transparent 110%
    );

    mix-blend-mode: screen;
    z-index: 0;
}

#card4 .card-content > * {
    position: relative;
    z-index: 1;
}






/**** TECHSTACK ORBIT *****/
.orbit {
    --gap: 1.25rem;
    --speed: 60s;
    overflow: hidden;
    mask-image: linear-gradient(to right, transparent, black 25%, black 90%, transparent);
    width: 85%;
    max-width: 1000px;
    margin: auto;
}

.orbit__track {
    display: flex;
    gap: var(--gap);
    width: max-content;
    animation: orbit-scroll var(--speed) linear infinite;
    will-change: transform;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.orbit__track:hover {
    animation-play-state: paused;
}

.orbit__item {
    background: #111111cd;
    display: flex;
    width: 60px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    padding: .75rem;
    margin-right: 2rem;
}

.orbit__item img {
    max-width: 100%;
}

.orbit__track .orbit__item:nth-child(2),
.orbit__track .orbit__item:nth-child(8) {
    padding: .1rem;
}

.orbit__track .orbit__item:nth-child(5),
.orbit__track .orbit__item:nth-child(11) {
    padding: 1.15rem;
}

.orbit__track .orbit__item:nth-child(3),
.orbit__track .orbit__item:nth-child(9) {
    padding: 1rem;
}

.orbit__track .orbit__item:nth-child(1),
.orbit__track .orbit__item:nth-child(7) {
    padding: 1rem;
}

.orbit__track .orbit__item:nth-child(6),
.orbit__track .orbit__item:nth-child(12) {
    padding: .9rem;
}

@keyframes orbit-scroll {
    to {
        transform: translateX(-50%);
    }
}

@media (prefers-reduced-motion: reduce) {
    .orbit__track {
        animation: none;
        transform: none;
    }
}










/************************ BREAKPOINTS ******************************/

/* MOBILE */

@media (max-width: 768px) {


}

/****** Tablet View ******/

@media (min-width: 768px) {

    .headline {
        display: block;
        align-self: center;
    }

    .headline-mobile {
        display: none;
    }

    .nav-links-ham {
        display: flex;
    }

    .nav-links {
        display: flex;
        align-items: center;
    }

    .nav-links a {
        margin-left: 2rem;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.482)
    }

    .nav-links a:hover {
        text-decoration: none;
        color: whitesmoke;
    }

    .nav-links a:visited {
        margin-left: 1rem;
        text-decoration: none;
    }

    .hamburger {
        display: none;
    }

    .nav {
        padding: 2rem;
        font-size: large;
        width: 93%;
        max-width: 1050px;
    }

    #cards {
        gap: .25rem;
    }

    #cards {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(var(--cards), 45vh);
        gap: 1px;
        padding-bottom: calc(var(--cards) * var(--cardTopPadding));
        margin-bottom: 10px;
    }

    .card {
        position: sticky;
        top: 0;
        padding-top: calc(var(--index) * var(--cardTopPadding));
    }

     .card-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        align-items: start;
        justify-items: start;
        padding: 3rem 2rem 3rem 2rem;
        max-width: 1000px;
        height: 45vh;
    }

    .card-content > :nth-child(1) {
        grid-column: 1;
        grid-row: 1;
    }

    .card-content > :nth-child(2) {
        grid-column: 1;
        grid-row: 2 / span 3;
    }

    .card-content > :nth-child(3) {
        grid-column: 2;
        grid-row: 3;
    }

    .card-content > :nth-child(4) {
        grid-column: 2;
        grid-row: 1 / span 2;
        margin-bottom: 2rem;
    }

    .card-content h2,
    .card-content p {
        width: 75%;
    }

    .card-content p {
        font-size: 1.1rem
    }

    .button-wrapper {
        width: 100%;
        display: flex;
        justify-content: start;
    }

    .button-wrapper > :first-child {
        margin-right: 3rem;
    }

    .orbit__item {
        background: #111111cd;
        display: flex;
        width: 75px;
        border-radius: 25px;
        justify-content: center;
        align-items: center;
        padding: .75rem;
        margin-right: 4rem;
    }


    .button-wrapper button {
        padding: .75rem 1.5rem .75rem 1.5rem;
    }

}

/* Desktop View */
@media (min-width: 1024px) {

    .orbit__item {
        background: #111111cd;
        display: flex;
        width: 75px;
        border-radius: 25px;
        justify-content: center;
        align-items: center;
        padding: .75rem;
        margin-right: 4rem;
    }

    #cards {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(var(--cards), 45vh);
        gap: 3rem;
        padding-bottom: calc(var(--cards) * var(--cardTopPadding));
        margin-bottom: 10px;
    }

    .card {
        position: sticky;
        top: 0;
        padding-top: calc(var(--index) * var(--cardTopPadding));
    }


    .card-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        align-items: start;
        justify-items: start;
        padding: 3rem 2rem 3rem 2rem;
        max-width: 1000px;
        height: 50vh;
    }

    .card-content p {
        font-size: 1.25rem;
    } 

    .card-content p {
        font-size: 1.25rem;
    } 

    .nav {
        font-size: 1.25rem;
    }

}

@media (min-width: 1024px) {


}